.div-formulario {
    width: 40%;
        
}

#form-login{
    text-align: center;
    margin-left: 20%;
}

#img-backg{
    max-width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#img-logo{
    margin-top: 20px;
}